---
import Footer from "../components/Footer.astro";
import Logo from "../components/Logo.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>iuselinuxbtwOS</title>
  </head>
  <body class="bg-zinc-50 text-black dark:bg-zinc-800 dark:text-white">
    <nav class="p-4">
      <Logo />
    </nav>
    <slot />
    <Footer />
  </body>
</html>
